//Colores
//Primer Esquema
$blanco: #fff;
$gris_claro: #e6e7e7;
$gris_oscuro: #d1d1d1;

//Segundo Esquema
$rojo_oscuro: #e56353;
$rojo: #d76c69;
$rojo_claro: #ecbcba;
//Tercero Esquema
$negro_oscuro: #121619;
$negro: #222323;
$negro_claro: #6c6e70;
