.nombreclase{
 &_parrafo{
   color:red;
    }
}

.contenido_generico{
  font-family:$primary-font;
  margin: 0 auto;
  width: 80%;
}

.header{
  background-color: $azul;
  height: 60px;
  display: table;
}

h
