//atributos generales para el header//
.header{
    height: 600px;
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

//boton header//
    a {
        bottom: 5%;
        position: absolute;
        color: $blanco;
        margin-left: 45%;
   }
  }

//atributos para el texto del header//
.header_div{
    font-family: $playfair;
    font-size: $xx-large;
    font-weight: $black;
    font-style: italic;
    color: $blanco;
    padding-top: 170px;
    text-align: center;

}
