.main_section {
    color: $negro;
    padding-left:210px;
    padding-right:210px;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
        font-family: $roboto;
        font-weight: $light;
        padding: 10px;
        line-height: 25px;
        text-align: justify;
    }

    h5 {
        font-size: $medium;
        font-family: $playfair;
        padding: 10px;

    }

.main_section_b{
  margin-top: 40px;
}

}

.main_section_span {
    color: $rojo;
}
