@media screen {

    //header//
    h1 {
        font-size: $xx-large;
    }

    // main section//
    .main_section_h5 {
        font-size: $large!important;
    }

    // buttons//
    .main_section_b {
        font-size: 16px;

      }

    //about section//

    .about_section_col1-autor {
        font-size: 20px;
    }

    //footer//

    .footer_img {
        width: 7.625rem;
    }


}
